@model JobBoardLMS.DATA.EF.LessonView

@{
    ViewBag.Title = "Details";
}
<div class="banner-w3pvt-info second">
    <div class="overlay-w3ls second">
        <p class="col-lg-12 headerText" style="text-align:center">@ViewBag.Title</p>
    </div>
</div>

<section class="middile-sec py-5" id="tabs">
    <div class="container py-md-5">
        <div class="middile-inner-con">
            <div class="tab-main mx-auto emailConfirmation">

                <input id="tab1" type="radio" name="tabs" checked>
                <label for="tab1">@ViewBag.Title | User ID</label>

                <input id="tab2" type="radio" name="tabs">
                <label for="tab2">@ViewBag.Title | Date Viewed</label>

                <input id="tab3" type="radio" name="tabs">
                <label for="tab3">@ViewBag.Title | Lesson Title</label>

                <section id="content1">
                    <div>
                        <div class="p-3">
                            <div>
                                <dl class="dl-horizontal emailConfirmation">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.UserID)

                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(modelItem => Model.AspNetUser.UserDetail.FirstName)
                                        @Html.DisplayFor(modelItem => Model.AspNetUser.UserDetail.LastName)
                                        <br />
                                        @Html.DisplayFor(model => model.UserID)

                                        
                                    </dd>
                                </dl>
                            </div>

                        </div>
                    </div>
                </section>
                <section id="content2">
                    <div>
                        <div>
                            <dl class="dl-horizontal emailConfirmation">
                                <dt>
                                    @Html.DisplayNameFor(model => model.DateViewed)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.DateViewed)
                                </dd>
                            </dl>
                        </div>
                    </div>
                </section>
                <section id="content3">
                    <div>
                        <div>
                            <dl class="dl-horizontal emailConfirmation">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Lessons.LessonTitle)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Lessons.LessonTitle)
                                </dd>
                            </dl>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>



@*<div style="text-align:center">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateViewed)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateViewed)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Lessons.LessonTitle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Lessons.LessonTitle)
            </dd>

        </dl>
    </div>*@
<p style="text-align:center">
    @if (User.IsInRole("Admin,Manager"))
    {
        <button class="btn btn">@Html.ActionLink("Edit", "Edit", new { id = Model.LessonViewID })</button>
        <button class="btn btn">@Html.ActionLink("Back to Lesson Views", "Index")</button>
    }

    <button class="btn btn">@Html.ActionLink("Back to Lesson Views", "Index")</button>
</p>
