@model IEnumerable<JobBoardLMS.DATA.EF.LessonView>

@{
    ViewBag.Title = "Lesson Views";
}
<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('../../Content/images/bg_1.jpg')">
    @* class="site-section ftco-subscribe-1" *@
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-7">
                <h2 class="mb-0">@ViewBag.Title</h2>
                <p>Learning Management System | Make A Difference!</p>
            </div>
        </div>
    </div>
</div>
<p>
    <button>@Html.ActionLink("Create New Lesson", "Create")</button>
</p>
<table class="table data-table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateViewed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lessons.LessonTitle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateViewed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lessons.LessonTitle)
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <button>@Html.ActionLink("Edit", "Edit", new { id = item.LessonViewID })</button>
                        <button>@Html.ActionLink("Details", "Details", new { id = item.LessonViewID })</button>
                        <button>@Html.ActionLink("Delete", "Delete", new { id = item.LessonViewID })</button>
                    </td>
                }
                @if (User.IsInRole("Manager"))
                {
                    <td>
                        <button> @Html.ActionLink("Edit", "Edit", new { id = item.LessonViewID })</button>
                        <button>@Html.ActionLink("Details", "Details", new { id = item.LessonViewID })</button>
                    </td>
                }
                @if (User.IsInRole("Employee"))
                {
                    <td>
                        <button>@Html.ActionLink("Details", "Details", new { id = item.LessonViewID })</button>
                    </td>
                }
            </tr>
        }
    </tbody>

</table>
@section scripts{
    <script>
        //apply the jQuery plugin
        $(document).ready(function () {
            $(".data-table").DataTable();
        });
    </script>
}