@model JobBoardLMS.DATA.EF.CourseCompletion

@{
    ViewBag.Title = "Details";
}
<div class="banner-w3pvt-info second">
    <div class="overlay-w3ls second">
        <p class="col-lg-12 headerText" style="text-align:center">@ViewBag.Title</p>
    </div>
</div>
<div style="text-align:center">
    <h4>CourseCompletion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCompleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCompleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.CourseName)
        </dd>

    </dl>
</div>
<p style="text-align:center">
    <button>@Html.ActionLink("Edit", "Edit", new { id = Model.CourseCompletionID })</button>
    <button>@Html.ActionLink("Back to List", "Index")</button>
</p>
