@model JobBoardLMS.DATA.EF.CourseCompletion

@{
    ViewBag.Title = "Details";
}
<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('../../Content/images/bg_1.jpg')">
    @* class="site-section ftco-subscribe-1" *@
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-7">
                <h2 class="mb-0">@ViewBag.Title</h2>
                <p>Code University | Challenge yourself to change your life for the better |</p>
            </div>
        </div>
    </div>
</div>
<div>
    <h4>CourseCompletion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCompleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCompleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.CourseName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CourseCompletionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
