@model IEnumerable<JobBoardLMS.DATA.EF.CourseCompletion>

@{
    ViewBag.Title = "Course Completion";
}
<div class="banner-w3pvt-info second">
    <div class="overlay-w3ls second">
        <p class="col-lg-12 headerText" style="text-align:center">@ViewBag.Title</p>
    </div>
</div>
<p>
    <button>@Html.ActionLink("Create New Course", "Create")</button>
</p>
<table class="table data-table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCompleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.CourseName)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCompleted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.CourseName)
                </td>
                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.CourseCompletionID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.CourseCompletionID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.CourseCompletionID })
                    </td>*@
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <button>@Html.ActionLink("Edit", "Edit", new { id = item.CourseCompletionID })</button> |
                        <button>@Html.ActionLink("Details", "Details", new { id = item.CourseCompletionID })</button> |
                        <button>@Html.ActionLink("Delete", "Delete", new { id = item.CourseCompletionID })</button>
                    </td>
                }
                @if (User.IsInRole("Manager"))
                {
                    <td>
                        <button>@Html.ActionLink("Edit", "Edit", new { id = item.CourseCompletionID })</button> |
                        <button>@Html.ActionLink("Details", "Details", new { id = item.CourseCompletionID })</button>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>
        //apply the jQuery plugin
        $(document).ready(function () {
            $(".data-table").DataTable();
        });
    </script>
}