@model IEnumerable<JobBoardLMS.DATA.EF.CourseCompletion>

@{
    ViewBag.Title = "Course Completion";
}
<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('../../Content/images/bg_1.jpg')">
    @* class="site-section ftco-subscribe-1" *@
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-7">
                <h2 class="mb-0">@ViewBag.Title</h2>
                <p>Code University | Challenge yourself to change your life for the better |</p>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCompleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCompleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course.CourseName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CourseCompletionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CourseCompletionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CourseCompletionID })
        </td>
    </tr>
}

</table>
