@model JobBoardLMS.UI.MVC.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}
<div class="banner-w3pvt-info second">
    <div class="overlay-w3ls second">
        <p class="col-lg-12 headerText" style="text-align:center">@ViewBag.Title</p>
    </div>
</div>
<div style="text-align:center">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
</div>
<h4 style="text-align:center">List of roles for this user</h4>
@if (ViewBag.RoleNames.Count == 0)
{
    <p>No roles found for this user.</p>
}

<table class="table" style="text-align:center">

    @foreach (var item in ViewBag.RoleNames)
    {
        <tr>
            <td>
                @item
            </td>
        </tr>
    }
</table>
<p style="text-align:center">
    <button class="btn btn">@Html.ActionLink("Edit", "Edit", new { id = Model.Id })</button>
    <button class="btn btn">@Html.ActionLink("Back to Users", "Index")</button>
</p>



