@model IEnumerable<JobBoardLMS.DATA.EF.Courses>

@{
    ViewBag.Title = "Courses";
}
<div class="banner-w3pvt-info second">
    <div class="overlay-w3ls second">
        <p class="col-lg-12 headerText" style="text-align:center">@ViewBag.Title</p>
    </div>
</div>
<p>
    <button>@Html.ActionLink("Create New Course", "Create")</button>
</p>
<table class="table data-table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <button>@Html.ActionLink("Edit", "Edit", new { id = item.CourseID })</button>
                        <button>@Html.ActionLink("Details", "Details", new { id = item.CourseID })</button>
                        <button>@Html.ActionLink("Delete", "Delete", new { id = item.CourseID })</button>
                    </td>
                }
                @if (User.IsInRole("Manager"))
                {
                    <td>
                        <button>@Html.ActionLink("Details", "Details", new { id = item.CourseID })</button>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>
        //apply the jQuery plugin
        $(document).ready(function () {
            $(".data-table").DataTable();
        });
    </script>
}