@model JobBoardLMS.DATA.EF.Lesson

@{
    ViewBag.Title = $"{Model.LessonTitle}";
}
<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('../../Content/images/bg_1.jpg')">
    @* class="site-section ftco-subscribe-1" *@
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-7">
                <h2 class="mb-0">@ViewBag.Title</h2>
                <p>Learning Management System | Make A Difference!</p>
            </div>
        </div>
    </div>
</div>
@*<div style="text-align:center">
        <p>
            Please watch the video or read the PDF to mark this course as complete.
        </p>
    </div>*@
<div style="text-align:center">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.CourseName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LessonTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LessonTitle)
        </dd>
    </dl>
</div>
@*<div style="text-align:center">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.LessonTitle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LessonTitle)
            </dd>
        </dl>
    </div>*@
<div class="col-md-12 lessonVideos">
    <iframe src="https://www.youtube.com/embed/@Model.VideoURL" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    @*<iframe width="560" height="315" src="https://www.youtube.com/embed/UB1O30fR-EE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>*@
</div>



<div style="text-align:center">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Introduction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Introduction)
        </dd>
    </dl>
</div>

<div style="text-align:center">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PdfFileName)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.PdfFileName)*@
            <a href="~/Content/images/@Model.PdfFileName" target="_blank">@Model.PdfFileName</a>

        </dd>
    </dl>
</div>


<p style="text-align:center">
    <button>@Html.ActionLink("Edit", "Edit", new { id = Model.LessonID })</button><button>@Html.ActionLink("Back to Lessons", "Index")</button>
</p>


@section scripts{
    <script>
        $("#date-picker").datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: "0:3000"
        });
    </script>
}










@*<div style="text-align:center">
    <dl class="dl-horizontal">*@
@*<dt>
        @Html.DisplayNameFor(model => model.LessonTitle)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.LessonTitle)
    </dd>*@

@*<dt>
        @Html.DisplayNameFor(model => model.Introduction)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Introduction)
    </dd>*@

@*<dt>
        @Html.DisplayNameFor(model => model.VideoURL)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.VideoURL)
    </dd>*@

@*<dt>
        @Html.DisplayNameFor(model => model.PdfFileName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PdfFileName)
        <a href="~/Content/images/@Model.PdfFileName" target="_blank">@Model.PdfFileName</a>

    </dd>*@

@*<dt>
        @Html.DisplayNameFor(model => model.IsActive)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.IsActive)
    </dd>*@

@*<dt>
        @Html.DisplayNameFor(model => model.Course.CourseName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Course.CourseName)
    </dd>*@

@*</dl>
    </div>*@