@model JobBoardLMS.DATA.EF.Lesson

@{
    ViewBag.Title = $"{Model.LessonTitle}";
}
<div class="banner-w3pvt-info second">
    <div class="overlay-w3ls second">
        <p class="col-lg-12 headerText" style="text-align:center">@ViewBag.Title</p>
    </div>
</div>
@*<div style="text-align:center">
        <p>
            Please watch the video or read the PDF to mark this course as complete.
        </p>
    </div>*@
<div style="text-align:center">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.CourseName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LessonTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LessonTitle)
        </dd>
    </dl>
</div>
@*<div style="text-align:center">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.LessonTitle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LessonTitle)
            </dd>
        </dl>
    </div>*@
<div class="col-md-12 lessonVideos">
    <iframe id="#list" src="https://www.youtube.com/embed/@Model.VideoURL" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>



<div style="text-align:center">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Introduction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Introduction)
        </dd>
    </dl>
</div>

<div style="text-align:center">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PdfFileName)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.PdfFileName)*@
            <a id="#list" href="~/Content/pdfs/@Model.PdfFileName" target="_blank">@Model.PdfFileName</a>

        </dd>
    </dl>
</div>


<p style="text-align:center">
    <button>@Html.ActionLink("Edit", "Edit", new { id = Model.LessonID })</button><button>@Html.ActionLink("Back to Lessons", "Index")</button>
</p>


@section scripts{
    @*<script>
        //**********************Mark Lesson as Complete***************************//
        $('#list').on('click', '.complete-button', function (event) {
            var item = $(event.@Model.LessonID).parent()
            var isItemCompleted = item.hasClass('completed')
            var itemId = item.attr('data-id')

            var updateRequest = $.ajax({
                type: 'PUT',
                url: "@Url.Action("Index","CourseCompletions")" + @Model.CourseID,
                data: { completed: !isItemCompleted }
            })

            updateRequest.done(function (itemData) {
                if (itemData.completed) {
                    item.addClass('completed')
                } else {
                    item.removeClass('completed')
                }
            })
        })
    </script>*@
}










@*<div style="text-align:center">
    <dl class="dl-horizontal">*@
@*<dt>
        @Html.DisplayNameFor(model => model.LessonTitle)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.LessonTitle)
    </dd>*@

@*<dt>
        @Html.DisplayNameFor(model => model.Introduction)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Introduction)
    </dd>*@

@*<dt>
        @Html.DisplayNameFor(model => model.VideoURL)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.VideoURL)
    </dd>*@

@*<dt>
        @Html.DisplayNameFor(model => model.PdfFileName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PdfFileName)
        <a href="~/Content/images/@Model.PdfFileName" target="_blank">@Model.PdfFileName</a>

    </dd>*@

@*<dt>
        @Html.DisplayNameFor(model => model.IsActive)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.IsActive)
    </dd>*@

@*<dt>
        @Html.DisplayNameFor(model => model.Course.CourseName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Course.CourseName)
    </dd>*@

@*</dl>
    </div>*@