@model JobBoardLMS.DATA.EF.Lesson

@{
    ViewBag.Title = $"{Model.LessonTitle}";
}
<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('../../Content/images/bg_1.jpg')">
    @* class="site-section ftco-subscribe-1" *@
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-7">
                <h2 class="mb-0">@ViewBag.Title</h2>
                <p>Learning Management System | Make A Difference!</p>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6" style="text-align:center">
    <div>
        @*<h4>Lesson</h4>
            <hr />*@
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.LessonTitle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LessonTitle)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Introduction)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Introduction)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.VideoURL)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VideoURL)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PdfFileName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PdfFileName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Course.CourseName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Course.CourseName)
            </dd>

        </dl>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LessonID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@section scripts{
    <script>
        //apply the jQuery plugin
        $(document).ready(function () {
            $(".data-table").DataTable();
        });
    </script>
}