@model IEnumerable<JobBoardLMS.DATA.EF.Lesson>

@{
    ViewBag.Title = "Lessons";
}

<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('../../Content/images/bg_1.jpg')">
    @* class="site-section ftco-subscribe-1" *@
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-7">
                <h2 class="mb-0">@ViewBag.Title</h2>
                <p>Learning Management System | Make A Difference!</p>
            </div>
        </div>
    </div>
</div>

@* ====================================================Admin==================================================== *@

@if (User.IsInRole("Admin"))
{
    <p>
        <button>@Html.ActionLink("Create New Lesson", "Create")</button>
    </p>
    <table class="table data-table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LessonTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Introduction)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VideoURL)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PdfFileName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Course.CourseName)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LessonTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Introduction)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VideoURL)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PdfFileName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.CourseName)
                    </td>

                    <td>
                        <button>@Html.ActionLink("Edit", "Edit", new { id = item.LessonID })</button><br />
                        <button>@Html.ActionLink("Details", "Details", new { id = item.LessonID })</button><br />
                        <button>@Html.ActionLink("Delete", "Delete", new { id = item.LessonID })</button>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}

@* ====================================================Employee==================================================== *@

@if (User.IsInRole("Employee"))
{
    <table class="table data-table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LessonTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Introduction)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.VideoURL)
                    </th>*@
                <th>
                    @*@Html.DisplayNameFor(model => model.PdfFileName)*@
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.Course.CourseName)
                    </th>*@

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LessonTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Introduction)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.VideoURL)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PdfFileName)
                        </td>*@
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Course.CourseName)
                        </td>*@
                    <td>
                        <button>@Html.ActionLink("Enroll", "Details", new { id = item.LessonID })</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@* ====================================================Manager==================================================== *@

@if (User.IsInRole("Manager"))
{
    <table class="table data-table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LessonTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Introduction)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VideoURL)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PdfFileName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Course.CourseName)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LessonTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Introduction)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VideoURL)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PdfFileName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.CourseName)
                    </td>
                    <td>
                        <button>@Html.ActionLink("Edit", "Edit", new { id = item.LessonID })</button><button>@Html.ActionLink("Details", "Details", new { id = item.LessonID })</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section scripts{
    <script>
        //apply the jQuery plugin
            $(document).ready(function () {
                $(".data-table").DataTable();
            });
    </script>
}