<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Norm Multi Purpose Category Bootstrap Responsive Web Template | About :: W3layouts</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Norm Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script>
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="~/Content/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <link href="~/Content/css/CustomStyleSheet.css" rel="stylesheet" />
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
    <!-- //Fonts -->
</head>

<body>
    <!-- mian-content -->
    <div class="main-content" id="home">
        <!-- header -->
        <header class="header">
            <div class="container navbar">
                <!-- nav -->
                <nav role="navigation">
                    @*<div id="logo">
                        <h1>
                            <a class="navbar-brand" href="@Url.Action("Index", "Home")">No<span>rm</span> </a>
                        </h1>
                    </div>*@
                    <ul class="menu">
                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li><a href="@Url.Action("About", "Home")">About</a></li>
                        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <li>
                                <a href="#">Courses</a>
                                <ul class="dropdown">
                                    <li>@Html.ActionLink("Courses", "Index", "Courses")</li>
                                    <li>@Html.ActionLink("Course Completion", "Index", "CourseCompletions")</li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Lessons</a>
                                <ul class="dropdown">
                                    <li>@Html.ActionLink("Lessons", "Index", "Lessons")</li>
                                    <li>@Html.ActionLink("Lesson Views", "Index", "LessonViews")</li>
                                </ul>
                            </li>

                            <li>
                                <a href="#">Users</a>
                                <ul class="dropdown">
                                    <li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")</li>
                                    <li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>
                                    <li>@Html.ActionLink("User Details", "Index", "UserDetails")</li>
                                </ul>
                            </li>

                        }
                        @if (Request.IsAuthenticated && User.IsInRole("Manager"))
                        {
                            <li>
                                <a href="#">Lessons</a>
                                <ul class="dropdown">
                                    <li>@Html.ActionLink("Lessons", "Index", "Lessons")</li>
                                    <li>@Html.ActionLink("Lesson Views", "Index", "LessonViews")</li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Courses</a>
                                <ul class="dropdown">
                                    <li>@Html.ActionLink("Courses", "Index", "Courses")</li>
                                    <li>@Html.ActionLink("Course Completion", "Index", "CourseCompletions")</li>
                                </ul>
                            </li>

                        }
                        @if (Request.IsAuthenticated && User.IsInRole("Employee"))
                        {

                            <li>
                                <a href="#">Lessons</a>
                                <ul class="dropdown">
                                    <li>@Html.ActionLink("Lessons", "Index", "Lessons")</li>
                                    <li>@Html.ActionLink("Lesson Views", "Index", "LessonViews")</li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("Course Completion", "Index", "CourseCompletions")</li>

                        }

                        <li><a href="@Url.Action("Contact", "Home")">Contact</a>


                        <li class="header-right"> </li>
                        <li>
                            
                            @Html.Partial("_LoginPartial")
                        </li>
                        @*<li>@Html.Partial("_LoginPartial")</li>*@
                    </ul>
                </nav>
                <!-- //nav -->
            </div>
        </header>
        <!-- //header -->

    </div>

    <!--/tabs-->
    <section class="middile-sec py-5" id="tabs">
        @RenderBody()
    </section>
    <!--/tabs-->

    <div class="copy-right">
        <div class="container">
            <div class="row">
                <p class="copy-right-grids text-md-left text-center my-sm-4 my-4 col-md-6">
                    © 2019 Tasha Lesmeister All Rights Reserved | Design by
                    <a href="http://w3layouts.com/"> W3layouts </a>
                </p>
                <div class="w3pvt-footer text-md-right text-center mt-4 col-md-5">
                    <ul class="list-unstyled w3pvt-icons">
                        <li>
                            <a href="https://github.com/tlesmeister" target="_blank">
                                <span class="fa fa-github"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/tasha-lesmeister/" target="_blank">
                                <span class="fa fa-linkedin"></span>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:tlesmeister525@gmail.com">
                                <span class="fa fa-envelope"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="move-top text-right col-md-1"><a href="#home" class="move-top"> <span class="fa fa-angle-up  mb-3" aria-hidden="true"></span></a></div>

            </div>
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>

</html>
