@using Microsoft.AspNet.Identity
@using JobBoardLMS.DATA.EF @*added for domain models*@
@if (Request.IsAuthenticated)
{

    LMSProjectEntities db = new LMSProjectEntities();
    string userID = User.Identity.GetUserId();
    UserDetail currentUser = db.UserDetails.Where(ud => ud.UserID == userID).FirstOrDefault();
    string userFN = "Guest";

    if (currentUser != null)
    {
        userFN = currentUser.FirstName;
    }

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

<li>
    <a href="#">Accounts</a>
    <ul class="dropdown">

        <li> @Html.ActionLink($"Hello, {userFN}!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
</li>
        @*<ul class="navbar" style="color:red">
            <li>
                @Html.ActionLink($"Hello, {userFN}!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>*@
    }
}
else
{
        <li>
            <ul class="dropdown">
                <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

            </ul>

        </li>
}
