@model JobBoardLMS.UI.MVC.Models.ContactViewModel
@{
    ViewBag.Title = "Contact Me";
}
<div class="banner-w3pvt-info second">
    <div class="overlay-w3ls second">
        <p class="col-lg-12 headerText" style="text-align:center">@ViewBag.Title</p>
    </div>
</div>

<section class="banner-bottom py-5">
    <div class="container py-lg-5">
        <h3 class="title-w3ls text-center"> Contact Info</h3>
        <div class="text-center">
            <p class="main_p4 mt-4 mb-4 pt-2 text-center mx-auto">Like what you see, reach out for additional questions!</p>
        </div>
        <div class="row contact-top">
            <div class="col-lg-6 contact_grid_left">
                <ul class="list-unstyled wthreem-items">
                    <li>
                        <div class="row">
                            <div class="col-3">
                                <span class="fa fa-home"></span>
                            </div>
                            <div class="col-9">
                                <h6>Address</h6>
                                <p>
                                    Tasha Lesmeister
                                    <br>Roeland Park, KS
                                </p>
                            </div>
                        </div>
                    </li>

                    <li class="mt-3">
                        <div class="row">
                            <div class="col-3">
                                <a href="mailto:tlesmeister525@gmail.com"><span class="fa fa-envelope"></span></a>
                            </div>
                            <div class="col-9">
                                <h6>Email</h6>
                                <a href="mailto:tlesmeister525@gmail.com">tlesmeister525@gmail.com</a>
                            </div>
                        </div>
                    </li>
                    <li class="mt-5">
                        <div class="row">
                            <div class="col-3">
                                <a href="https://www.linkedin.com/in/tasha-lesmeister/" target="_blank"> <span class="fa fa-linkedin"></span></a>
                            </div>
                            <div class="col-9">
                                <h6>LinkedIn</h6>
                                <p><a href="https://www.linkedin.com/in/tasha-lesmeister/" target="_blank">Let's Connect</a></p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })

                @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })

                <div><input type="submit" value="Send Email" class="btn btn-primary" /></div>
                @*<div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Send Email" class="btn btn-primary" />
                </div>
            </div>*@

            }
        </div>

        <div class="map-w3ls mt-5 p-2">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12396.749412049996!2d-94.64466271590626!3d39.03384752279526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87c0ee703553e603%3A0x9985ca04543668c1!2sRoeland%20Park%2C%20KS!5e0!3m2!1sen!2sus!4v1571540185531!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

        </div>
    </div>
</section>
@if (ViewBag.CustomerMessage != null)
{
    <h4>@Html.Raw(ViewBag.CustomerMessage)</h4>
}
<script>
    addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }

</script>