@model JobBoardLMS.DATA.EF.UserDetail

@{
    ViewBag.Title = "Details";
}
<div class="banner-w3pvt-info second">
    <div class="overlay-w3ls second">
        <p class="col-lg-12 headerText" style="text-align:center">@ViewBag.Title</p>
    </div>
</div>
<div style="text-align:center">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

    </dl>
</div>
<p style="text-align:center">
    <button class="btn btn">@Html.ActionLink("Edit", "Edit", new { id = Model.UserID })</button> 
    <button class="btn btn">@Html.ActionLink("Back to User Details", "Index")</button>
</p>
