@model IEnumerable<JobBoardLMS.DATA.EF.UserDetail>

@{
    ViewBag.Title = "User Detail";
}
<div class="banner-w3pvt-info second">
    <div class="overlay-w3ls second">
        <p class="col-lg-12 headerText" style="text-align:center">@ViewBag.Title</p>
    </div>
</div>
<p>
    <button class="btn btn">@Html.ActionLink("Create New User", "Create")</button>
</p>
<table class="table data-table table-striped lessonIndex">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <button>@Html.ActionLink("Edit", "Edit", new { id = item.UserID })</button>
                        <button>@Html.ActionLink("Details", "Details", new { id = item.UserID })</button>
                        <button>@Html.ActionLink("Delete", "Delete", new { id = item.UserID })</button>
                    </td>
                }
            </tr>
        }
    </tbody>

</table>
@section scripts{
    <script>
        //apply the jQuery plugin
        $(document).ready(function () {
            $(".data-table").DataTable();
        });
    </script>
}